.root {-fx-background-image: url("background.png");}

.label {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #0E1D33;
}

#login-text{
    -fx-font-size:32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #115E7F;
}

#txtStatus {
	-fx-font-size: 14px;
    -fx-font-weight:bold;
}

.button {
	-fx-font-size: 14px;
    -fx-text-fill:white;
    -fx-font-family:"Droid Sans";
    -fx-font-weight:bold;
    -fx-background-color:linear-gradient(#61a2b1,#2A5058);  
}
